<!DOCTYPE html>
<html lang="ja">
<meta charset="UTF-8">
<title>{{title}} - サトイモイモ</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex, nofollow">
<link rel="stylesheet" type="text/css" href="/style.css">
<div class="wrapper">
    <nav class="sidebar component">
      <div class="sidebar-menu">
        {{sidemenu | safe}}
      </div>
    </nav>
    <header class="header component">
      <a href="/">
        <div class="title">
          <h1>サトイモイモ</h1>
        </div>
      </a>
    </header>
    <article class="article component">
      <main>
        <h1>{{title}}</h1>
        {{article | safe}}
      </main>
    </article>
</div>
<script>
(() => {
  /** 引用を動的にするスクリプト */
  const elems = document.getElementsByClassName("inline-quote");
  for(let i = 0;i<elems.length;i++) {
    const elem = elems[i];
    const titleElems = elem.getElementsByClassName("title");
    titleElems[0].addEventListener("click", () => {
      const contentElems = elem.getElementsByClassName("paragraph");
      if(contentElems[0].style.display == "block") {
        // style属性が優先されてしまうので
        contentElems[0].style = undefined;
      } else {
        contentElems[0].style.display = "block";
      }
    })
  }
})();

(() => {
  /** 画像をリンク化するスクリプト */
  const elems = document.querySelectorAll("article img");
  for(let i = 0; i<elems.length; i++) {
    /** @type {HTMLImageElement} */
    const elem = elems[i];

    if(!elem.src.endsWith(".jpg")) {
      continue;
    }

    elem.style = "cursor: pointer";
    elem.addEventListener("click", () => {
      const htmlpath = elem.src.replace(".jpg", ".html");
      open(htmlpath);
    });
  }
})();
</script>
</html>
